# Ì¥ê API Keys
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxx
ELEVEN_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxx
ELEVEN_VOICE_ID=xxxxxxxxxxxxxxxxxxxxxxx
NOTION_API_KEY=secret_xxxxxxxxxxxxxxxxxx
NOTION_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
