# ----------------------------------------------------------------------
# EOL y Normalización de Texto
# ----------------------------------------------------------------------
* text=auto

# Scripts y configuraciones
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.env text eol=lf
.husky/* text eol=lf

# ----------------------------------------------------------------------
# Archivos binarios (no convertir)
# ----------------------------------------------------------------------
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mp4 binary
*.mp3 binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
